.input {
    margin-left: 10px;;
}

.input:focus {
    outline: none;
    border: 3px solid green ;
}

.errorWarning {
    color: red;
    height: 20px;
    margin-left: 10px;
}

.errorInput {
    outline: none;
    border: 3px solid red;
    color: red;
    margin-left: 10px;
}

.button {
    margin: 0 10px;
}

.button:active {

}

.button:focus {

}

.button:disabled {

}